#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#DH_VERBOSE = 1

# Additional flags to make the embedded copy of JUCE use system libraries.
FLAC_CFLAGS = -DJUCE_INCLUDE_FLAC_CODE=0 $(shell pkg-config --cflags flac)
FLAC_LDFLAGS = $(shell pkg-config --libs flac)
LIBJPEG_CFLAGS = -DJUCE_INCLUDE_JPEGLIB_CODE=0 $(shell pkg-config --cflags libjpeg)
LIBJPEG_LDFLAGS = $(shell pkg-config --libs libjpeg)
LIBPNG_CFLAGS = -DJUCE_INCLUDE_PNGLIB_CODE=0 -DPNG_SKIP_SETJMP_CHECK $(shell pkg-config --cflags libpng)
LIBPNG_LDFLAGS = $(shell pkg-config --libs libpng)
VORBIS_CFLAGS = -DJUCE_INCLUDE_OGGVORBIS_CODE=0 $(shell pkg-config --cflags vorbis)
VORBIS_LDFLAGS = $(shell pkg-config --libs vorbis)
ZLIB_CFLAGS = -DJUCE_INCLUDE_ZLIB_CODE=0 $(shell pkg-config --cflags zlib)
ZLIB_LDFLAGS = $(shell pkg-config --libs zlib)

# Hardening flags.
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND = $(FLAC_CFLAGS) $(LIBJPEG_CFLAGS) \
	$(LIBPNG_CFLAGS) $(VORBIS_CFLAGS) $(ZLIB_CFLAGS) \
	-pthread -Wall -pedantic
export DEB_CXXFLAGS_MAINT_APPEND = $(FLAC_CFLAGS) $(LIBJPEG_CFLAGS) \
	$(LIBPNG_CFLAGS) $(VORBIS_CFLAGS) $(ZLIB_CFLAGS) \
	-pthread -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = $(FLAC_LDFLAGS) $(LIBJPEG_LDFLAGS) \
	$(LIBPNG_LDFLAGS) $(VORBIS_LDFLAGS) $(ZLIB_LDFLAGS) \
	-lpthread -ldl -Wl,--as-needed

# Environment information.
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
	      -DLIB_SUFFIX="/$(DEB_HOST_MULTIARCH)"

override_dh_auto_build-indep:
	dh_auto_build --indep -- doc

override_dh_install-arch:
	dh_install --arch
	find $(CURDIR)/debian -type d -empty -delete

override_dh_install-indep:
	dh_install --indep
	dh_doxygen --indep
